@(identity: Option[models.User])


@unathorizedcontent() = {
	<p>Hello! Sign in to start.</p>
}

@athorizedcontent(id: models.User) = {
	<p>Hello @id.firstName!</p>

    <div id="scalajsShoutOut"></div>
    
	<script src="@routes.Assets.at("client-jsdeps.js")" type="text/javascript"></script>
	@playscalajs.html.scripts("/assets", projectName = "client")

}

@userawarepage("Office Ladder")(identity){
	@if(identity.isDefined){
		@athorizedcontent(identity.get)
	} else {
		@unathorizedcontent()
	}
}